.dark-input{

    background:#1E293B !important;

    border:1px solid #334155 !important;

    color:white !important;

    border-radius:12px !important;
}

.dark-input:focus{

    background:#1E293B !important;

    color:white !important;

    border-color:#6366F1 !important;

    box-shadow:0 0 0 .2rem rgba(99,102,241,.25) !important;
}

.dark-input::placeholder{

    color:#94A3B8;
}

.form-label{

    color:#CBD5E1;

    font-weight:500;
}

.dark-input[type="file"]{
    padding: 0;
    overflow: hidden;
}

.dark-input[type="file"]::file-selector-button{
    background: linear-gradient(135deg,#6366F1,#4F46E5);
    color: #fff;
    border: none;
    padding: 10px 18px;
    margin-right: 14px;
    cursor: pointer;
    transition: .25s;
}

.dark-input[type="file"]::file-selector-button:hover{
    background: linear-gradient(135deg,#7C3AED,#4F46E5);
}

/* ==========spinner===================== */
.spin-icon{
    animation:spin .8s linear infinite;
}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

/* ================task view====================== */

.dark-detail{
    background:#1E293B;
    border:1px solid #334155;
    border-radius:10px;
    padding:12px 15px;
    color:#F8FAFC;
    min-height:46px;
}

.primary-link{
    color:#818CF8;
    text-decoration:none;
    font-weight:600;
}

.primary-link:hover{
    color:#A5B4FC;
}